table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

tr:nth-child(even) {
    background-color: #dddddd;
}

body {
  background-color: rgb(255, 255, 255);
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 90px;
}
.w3-card-4 img{
width:50%;
margin:20px;
}

.w3-container{
  width:50%;
}