table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

tr:nth-child(even) {
    background-color: #dddddd;
}

body {
  background-color: darkolivegreen;
}

h1 {
  color: white;
  text-align: center;
}

.w3-card-4 img{
width:50%;
margin:20px;
}
.w3-card-4 {
  background-color: beige;
}

.w3-card-4 p {
  font-size:30px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin:10px;
}

.w3-container{
width:50%;
margin:50px;
margin-top:10px;
}